body {
  font-family: Arial, sans-serif; /* Define a fonte do texto para Arial ou uma fonte padrão sem serifa */
  background-color: #f5deb3; /* Define a cor de fundo como bege */
  color: #5a3d2b; /* Define a cor do texto como marrom escuro */
  display: flex; /* Usa o modelo Flexbox para organizar o layout */
  flex-direction: column; /* Organiza os elementos em uma coluna (vertical) */
  align-items: center; /* Centraliza os itens horizontalmente dentro do contêiner */
  justify-content: center; /* Centraliza os itens verticalmente dentro do contêiner */
  height: 100vh; /* Define a altura do corpo como 100% da altura da janela de visualização */
  margin: 0; /* Remove a margem padrão do corpo */
}

h1 {
  margin-bottom: 50px; /* Adiciona uma margem de 20px abaixo do título */
}

.container {
  display: flex; /* Usa o modelo Flexbox para organizar os elementos dentro do contêiner */
  flex-direction: column; /* Organiza os itens em uma coluna (vertical) */
  gap: 50px; /* Define o espaçamento de 10px entre os elementos dentro do contêiner */
  align-items: center; /* Centraliza os itens horizontalmente dentro do contêiner */
}

button {
  background-color: white; /* Define a cor de fundo do botão como branca */
  color: #5a3d2b; /* Define a cor do texto do botão como marrom escuro */
  border: 2px solid #5a3d2b; /* Define uma borda de 2px de cor marrom escuro */
  padding: 10px 20px; /* Adiciona 10px de padding vertical e 20px de padding horizontal ao botão */
  font-size: 40px; /* Define o tamanho da fonte do texto dentro do botão */
  cursor: pointer; /* Altera o cursor para uma mãozinha quando o mouse passa sobre o botão */
  border-radius: 5px; /* Arredonda as bordas do botão com um raio de 5px */
  width: 500px; /* Define a largura do botão como 200px */
}

button:hover {
  background-color: #e6d5b8; /* Altera a cor de fundo do botão quando o mouse passa por cima */
}
