/* Definindo o estilo global */
body {
  font-family: Arial, sans-serif; /* Fonte do texto */
  background-color: #f2dfd3; /* Cor de fundo bege claro */
  color: #5a3d2b; /* Cor do texto marrom escuro */
  margin: 0; /* Remove as margens padrão */
  display: flex; /* Usando Flexbox */
  flex-direction: column; /* Alinhamento dos elementos em coluna */
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: center; /* Centraliza os itens verticalmente */
  height: 100vh; /* Altura total da tela */
  width: 100%; /* Largura total da tela */
}

/* Estilo do título */
h1 {
  font-size: 40px; /* Tamanho grande do texto */
  margin-bottom: 50px; /* Espaçamento abaixo do título */
  text-align: center; /* Alinha o título no centro */
}

/* Estilo para o container principal */
.container {
  width: 90%; /* Largura de 90% da tela */
  display: flex; /* Usando Flexbox */
  flex-direction: column; /* Organiza os itens em uma coluna */
  gap: 10px; /* Espaçamento entre os itens */
  align-items: center; /* Centraliza os itens horizontalmente */
}

/* Estilo para os campos de entrada */
input {
  width: 90%; /* Largura de 90% da tela */
  padding: 20px; /* Grande espaçamento interno */
  font-size: 20px; /* Tamanho de fonte grande */
  border: 2px solid #5a3d2b; /* Borda marrom escura */
  border-radius: 5px; /* Bordas arredondadas */
  margin-bottom: 20px; /* Espaçamento abaixo dos campos */
}

/* Estilo para os botões */
button {
  background-color: #5a3d2b; /* Cor de fundo do botão */
  color: white; /* Cor do texto marrom escuro */
  border: 2px solid white; /* Borda marrom escura */
  padding: 20px; /* Grande espaçamento interno */
  font-size: 30px; /* Texto grande no botão */
  cursor: pointer; /* Alteração do cursor para mãozinha */
  border-radius: 5px; /* Bordas arredondadas */
  width: 90%; /* Largura do botão de 90% da tela */
  margin-bottom: 20px; /* Distância entre os botões */
}

button:hover {
  background-color: #e6d5b8; /* Cor de fundo quando o mouse passa por cima */
}

/* Media Query para telas pequenas (como dispositivos móveis) */
@media (max-width: 600px) {
  body {
    justify-content: flex-start; /* Alinha o conteúdo no topo da tela em telas pequenas */
  }

  button {
    font-size: 20px; /* Ajusta o tamanho da fonte para telas pequenas */
  }

  input {
    font-size: 40px; /* Ajusta o tamanho da fonte para campos de entrada */
  }

  h1 {
    font-size: 30px; /* Ajusta o tamanho do título */
  }
}
